* {
  box-sizing: border-box;
}

h1 {
  color: #d1e2d0;
}

.title_description h1 {
  text-align: center;
}

.title_description p {
  padding-left: 20px;
  text-align: center;
}

#title_letters {
  color: #59a5a5;
  font-size: 30px;
  text-align: center;
  background-color: lightgray;
  font-style: serif, sans-serif;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.24);
}

#middle_letter {
  color: #9e2622;
  font-size: 20px;
}

.row1::after {
  content: "";
  clear: both;
  display: table;
  padding: 15px;
}

.pages ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#li1, #li2, #li3, #li4 {
  color: #a5f7be;
  margin-left: 12px;
}

.pages li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #59a5a5;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.24);
}

.pages li:hover {
  background-color: #0099cc;
}

.pages1 {
  margin-top: 22px;
  font-size: 14px;
  padding: 5px;
  border-spacing: 0px;
  line-height: 1;
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
}

.museums {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.head-color {
  background-color: #59a5a5;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 25px;
}

.row2::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 7px;
}

.lastpicture img {
  width: 80%;
  height: auto;
  image-orientation: center;
}

.lastpicture > p {
  font-stretch: ultra-expanded;
}

#transfagarasan_text {
  font-size: 15px;
  font-stretch: normal;
  font-style: oblique;
  src: url(sansation_bold.woff);
  font-weight: lighter;
}

.flex-container {
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15), 2px 2px 7px rgba(0, 0, 0, 0.2);
}

.flex-container > tr {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}

nav {
  text-align: right;
  padding: 0px;
  margin-right: 10px;
}

html {
  font-family: cursive, sans-serif;
}

/*For mobile phones*/
[class*=col-] {
  width: 100%;
}

/*For tablets*/
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }

  .col-s-2 {
    width: 16.66%;
  }

  .col-s-3 {
    width: 25%;
  }

  .col-s-4 {
    width: 33.33%;
  }

  .col-s-5 {
    width: 41.66%;
  }

  .col-s-6 {
    width: 50%;
  }

  .col-s-7 {
    width: 58.33%;
  }

  .col-s-8 {
    width: 66.66%;
  }

  .col-s-9 {
    width: 75%;
  }

  .col-s-10 {
    width: 83.33%;
  }

  .col-s-11 {
    width: 91.66%;
  }

  .col-s-12 {
    width: 100%;
  }
}
/*For desktop*/
@media only screen and (min-width: 768px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=mainpage.css.map */
